#keyboard-sec{
  position: absolute;
  top: 300px;
}

.row {
  display: flex;
  width: 800px;
  background-color: #67b49b;
  justify-content: space-around;
  align-items: center;
}

.key {
  padding: 5px 15px;
  width: fit-content;
  height: 45px;
  margin: 10px 0;
  font-size: 23px;
}

.key:hover {
  cursor: pointer;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
}

.row:nth-child(5) div:last-of-type {
  flex-grow: 0.9;
}

.shifted {
  text-transform: uppercase;
}
